<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eve Connection Finder</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">EveConnectionFinder</a>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container">
            &copy; 2020 - EveConnectionFinder - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            @if (ViewBag.timer != null)
            {
                @ViewBag.timer
            }
        </div>
    </footer>
</body>
@if (ViewBag.error != null)
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#errortoast').toast('show');
        });
    </script>
    <div style="position: absolute; top: 3rem; right: 0;">
        <div id="errortoast" class="toast" data-autohide="false">
            <div class="toast-header">
                <strong class="mr-auto">ERROR</strong>
                <small>@DateTime.UtcNow.ToString("dd-MMM-yyy HH:mm:ss")</small>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body">
                An error accured while processing, This is likely due to ESI errors. Please try again
            </div>
        </div>
    </div>
}
</html>
