<div class="text-center">
    <h1 class="display-4">Paste names into the textbox below</h1>
    <textarea class="form-control bg-dark text-light" rows="10" placeholder="Quackers Duckington" required></textarea>
</div>
<button type="button" class="btn btn-primary btn-lg">Submit</button>